$theme-color: #03AEEF;
$theme-color-light: #DEF6FF;
$theme-color-extra-light: #F5FDFF;
$sub-table-blue: #F7FCFF;
$mck-blue: #032A60;
$greenish-blue: #039AA6;
$text-gray: #494A4B;
$border-gray: #969798;
$disabled-gray: #CCCCCC;
$selector-completed: #2CC0B0;
$selector-edited: #F5E53B;
$selector-disabled: #E3E4E5;
$input-disabled: #FDFDE3;
$background-gray: #F8F8F8;
$text-blue: #00ADEF;
$disabled-border: #F1A636;
$cyan-blue: #009AA6;
